<div class="media-content">
  <div class="field">
    <p class="control">
      <%= form_for([@post, @post.comments.build]) do |f| %>
      <%= f.text_area :comment, class: 'textarea', placeholder: 'Add a comment...' %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </p>
  </div>    
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
          <%= f.submit 'Submit', class: 'button is-info' %>
          <% end %>
      </div>
    </div>
  </nav>
</div>


    
    
    
   
      
    
    