<div class='column'>  
  
  <nav class='panel'>
    <p class='panel-heading'>Friends</p>
  </nav>
  
  <% if @friends.any? %>
    <% current_user.friends.each do |friend| %>
      <div class='panel-block'>
        <article class='media'>
          <div class='media-left'>
            <figure class='image is-32x32'>
              <img src='https://bulma.io/images/placeholders/32x32.png'>
            </figure>
          </div>
          <div class='media-content'>
            <div class='content'>
              <p>
                <%= friend.profile.fname %>
              </p>
            </div>
          </div>
        </article>
      </div>
      <% end %>
  <% else %>
    <p>You have no friends</p>
  <% end %>
</div>