<div class='container'>
  <div class='notication'>
    <div class='columns'>
      <%= render 'profile' %>
      <%= render 'post' %>
      <%= render 'friends/user_friends' %>
    </div>
  </div>
</section>
