<% if current_user.profile %>
  <div class='section'>
    <div class='container'>
      <div class='notication'>
        <div class='columns'>
          <%= render 'profile' %>
          <%= render 'post' %>
          <%= render 'friendships/user_friends' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% controller.redirect_to new_profile_path %>
<% end %>
